body {
    font-family: Bahnschrift;
    background-image: url("images/tlo2.jpg");
    background-position: top center;
}

.tlopyt {
    background-color: rgba(255, 255, 255, 0);
    transition: ease 0.5s;
}
.tlopyt:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.email {
    height: 25px;
    width: 125px;
    outline: none;
    transition: ease 0.5s;
}

.email:focus {
    height: 25px;
    width: 200px;
    outline: none;
}

.wyslij {
    font-size: 40px;
    font-family: 'Bahnschrift';
    padding: 4px;
    transition: ease 0.3s;
}

.wyslij:hover {
    padding: 30px;
    font-size: 50px;
}

.buttom {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.obraz {
    max-width:100%;
    height:auto;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.button {
    opacity: 0.5;
    transition: ease 0.3s;
}

.button:hover {
    opacity: 1;
}

.hrd {
    margin-top: -6px;
    margin-bottom: 9px
}

.name{
    margin-right: auto;
    margin-left: auto;
    width: 10%;
}

.box {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.box1 {
    position: relative;
    float:left;
    width: 18%;
    outline:3px solid rgba(255, 255, 255, 0.7);
}

.box2 {
    position: relative;
    float:left;
    left: 30px;
    width: 60%;
    outline:3px solid rgba(255, 255, 255, 0.7);
}
.box3 {
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    width: 45%;
    outline:3px solid rgba(255, 255, 255, 0.7);
}

.footer {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    /*border-radius: 50px 50px 0px 0px;*/
}

.footer2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    /*border-radius: 0px 0px 50px 50px;*/
}

.gora1 {
    color: white;
    font-size: 50px;
}

.gora2 {
    font-size: 30px;
}

.zawartosc {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.pytanie {
    font-size: 25px;
}

.pytanie2 {
    font-size: 20px;
}

.odp {
    font-size: 18px;
}

.biel {
    font-size: 25px;
    color: white;
}